<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle toggleblah">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
            <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Jose Perez-Roura</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Skills</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img src="assets/jprlogo10.svg" class="jose_logo img-responsive">
        <img src="assets/jprlogo9.svg" class="jose_logo js-quotes img-responsive">
        <img src="assets/jprlogo11.svg" class="jose_logo js-quotes img-responsive">
        <img src="assets/jprlogo15.svg" class="jose_logo js-quotes img-responsive">
        <img src="assets/jprlogo14.svg" class="jose_logo js-quotes img-responsive">

        <!-- <br>
          <img src="assets/jprlogoport.svg" class="jose_logo2"> -->

        <!-- <h1 class="h1blah">Jose Perez-Roura</h1> -->
        <!-- <h1 class="h1blah">portfolio</h1> -->

        <br>
        <a href="#about" class="btn btn-dark btn-lg">
            <i class="fa fa-smile-o fa-fw fa-1x white"></i>
        </a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="blue">ABOUT ME</h2>
                <hr class="small">
                <br>
                    <img src="assets/jose4.jpg" class="img-circle jojo2">
                </br>
                <br>
                <p class="lead">Born & raised in the County of Dade! <br> I ❤️ web programming, design & tech.  My previous career adventures include marketing, insurance & hospitality. Aside from working on web applications, I enjoy trying new foods & cocktails, sci-fi movies, miami sports teams 🐬 🔥 🐟 😺 and traveling.<br></p>
                    <!-- My Technical Skills: Ruby, Ruby on Rails, HTML, CSS, JavaScript, jQuery, AJAX, Bootstrap, Git, HTTP, Responsive Design & Adobe Illustrator. <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a></p> -->
                </br>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>MY SKILLS</h2>
                <hr class="small">
                <div class="row skillz">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-diamond fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/ruby3.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Ruby on Rails</strong>
                              </h4> -->
                            <p>My favorite language!</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-compass fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/javascript2.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Javascript</strong>
                              </h4> -->
                            <p>Make things pop and boom!</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-flask fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/html3.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Html / CSS</strong>
                              </h4> -->
                            <p>The art of designing for the web.</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-shield fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/boot6.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Responsive Design / Bootstrap</strong>
                              </h4> -->
                            <p>Responsive design.</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-diamond fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/jquery2.svg" class="jojo">
                            <!-- <h4>
                                  <strong>jquery</strong>
                              </h4> -->
                            <p>The gift that keeps on giving.</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-compass fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/git2.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Git</strong>
                              </h4> -->
                            <p>Couldn't live without it!</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-flask fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/ajax2.svg" class="jojo">
                            <!-- <h4>
                                  <strong>AJAX</strong>
                              </h4> -->
                            <p>Helping web apps connect.</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <!-- <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-shield fa-stack-1x text-primary"></i>
                          </span> -->
                            <img src="assets/adobeg.svg" class="jojo">
                            <!-- <h4>
                                  <strong>Adobe Illustrator</strong>
                              </h4> -->
                            <p>Illustrator & Photoshop are my jam.</p>
                            <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<!-- <aside class="callout">
      <div class="text-vertical-center">
          <h1>Vertically Centered Text</h1>
      </div>
  </aside> -->

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="blue">PORTFOLIO</h2>
                <hr class="small">
                <img src="assets/webapps.svg" class="webapps"><br>
                <div class="row rowapps">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="http://www.barchef.co">
                                <img class="img-portfolio img-responsive" src="assets/barlogoport.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://overundermiami.herokuapp.com/" target="_blank">
                                <img class="img-portfolio img-responsive" src="assets/overunder.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://thawing-ridge-12109.herokuapp.com" target="_blank">
                                <img class="img-portfolio img-responsive" src="assets/spotify3.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive imdb" src="assets/imdb4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Map -->
<!-- <section id="contact" class="map"> -->
<!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe> -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.597061666692!2d-80.16012788495556!3d25.849819611256397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b24ce947c899%3A0xd4747f9b799135cb!2s7910+Harbor+Island+Dr%2C+North+Bay+Village%2C+FL+33141!5e0!3m2!1sen!2sus!4v1490212432503" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<!-- <div class="row">
    <div "col-md-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.597061666692!2d-80.16012788495556!3d25.849819611256397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b24ce947c899%3A0xd4747f9b799135cb!2s7910+Harbor+Island+Dr%2C+North+Bay+Village%2C+FL+33141!5e0!3m2!1sen!2sus!4v1490212432503"
            width="600"
            height="600"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>
    </div>
    <div class="col-md-6 col-lg-offset-1 text-center">
        <h4>
            <strong>Jose Perez-Roura</strong>
        </h4>
        <p>7910 Harbor Island Drive
            <br>North Bay Village, FL 33141</p>
        <ul class="list-unstyled">
            <li>
                (305) 495-4625</li>
            <li>
                <a href="mailto:jose.perezroura@gmail.com">jose.perezroura@gmail.com</a>
            </li>
        </ul>

        <ul class="list-inline">
            <li>
                <a href="#">
                    <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
            </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Your Website 2014</p>
    </div>
</div> -->

<!-- </section> -->

<!-- Footer -->
<footer>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <!-- <h4><strong>Jose Perez-Roura</strong>
                  </h4> -->
                    <!-- <p>7910 Harbor Island Drive
                      <br>North Bay Village, FL 33141</p> -->
                    <ul class="list-unstyled">
                        <li>
                            <h2>CONTACT</h2>
                        </li>
                        <li><hr class="small"></li>
                        <li>
                            <p>I'm here to help! Need a quote on your next web or interactive project? Please contact me!</p>
                        </li>
                        <!-- <li><hr class="small"></li> -->
                        <!-- <li>
                            <p>Mailing Address: 2520 Coral Way Suite# 2071
                                <br>Miami, FL 33145</p>
                        </li> -->
                        <li>
                            (305) 495-4625</li>
                        <li>
                            <a href="mailto:jose.perezroura@gmail.com" class="white">jose.perezroura@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.github.com/joseperezroura" target="_blank">
                                <i class="fa fa-github fa-fw fa-3x white"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/in/joseperezroura" target="_blank">
                                <i class="fa fa-linkedin-square  fa-fw fa-3x white"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/assets/JosePerez-Roura.pdf" download>
                                <i class="fa fa-file-pdf-o fa-fw fa-3x white"></i>
                            </a>
                        </li>
                        <!-- <li>
                          <a href="#"><i class="fa fa-dribbble fa-fw fa-3x white"></i></a>
                      </li> -->
                        <li>
                            <a href="http://www.instagram.com/jojo_soft_serve" target="_blank">
                                <i class="fa fa-instagram fa-fw fa-3x white"></i>
                            </a>
                        </li>
                    </ul>
                    <hr class="small">

                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </section>
    <p class="text-muted mb">Miami Beach</p>

</footer>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-muted">Live Long & Prosper! &copy; 2017</p>
                <!-- <h3>The buttons below are impossible to resist.</h3>
                  <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                  <a href="#" class="btn btn-lg btn-dark">Look at Me!</a> -->
            </div>
        </div>
    </div>
</aside>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length
                    ? target
                    : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({position: 'fixed', display: 'block'});
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({display: 'none'});
                });
            }
        }
    });
    // Disable Google Maps scrolling See http://stackoverflow.com/a/25904582/1607849 Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>
